@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: 100%;
  /* Ensure 16px base for rems */
}

body {
  color: var(--_dev---black);
  background: var(--_dev---background);
  font-family: 'Inter', sans-serif;
  /* Enforce Inter */
  font-size: 0.9rem;
  line-height: 1.35;
}