:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter Tight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.module {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  border-top-left-radius: var(--small-radius);
  border-top-right-radius: var(--small-radius);
  border-bottom-left-radius: var(--small-radius);
  border-bottom-right-radius: var(--small-radius);
  background-color: var(--white);
  backdrop-filter: blur(10px);
}

.main-grid {
  width: 100%;
  padding-left: 16rem;
  gap: 1.4rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .main-grid {
    padding-left: 0rem;
  }
}

/* Hide repeated headers in Warranties list for continuous look */
.warranties-list .table .header,
.warranties-list .table_row_1.header {
  display: none !important;
}